fastapi
uvicorn[standard]
sqlalchemy[slim]
alembic
psycopg2-binary
pydantic-settings
sqlmodel
pgvector
langchain
langchain-google-genai
langgraph
langsmith
pymupdf
pymupdf4llm
python-multipart
pytest
pytest-asyncio
httpx
respx
litellm
cryptography
easyocr
opencv-python-headless
passlib
bcrypt==3.2.2
python-jose[cryptography]
